
body{
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*Tamaños*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    /*Estilos*/
    background-color: #fcfcfc;
    font-family: "Montserrat";
}

.botones a {
    text-decoration: none; /* elimina subrayado */
    display: inline-block; /* asegura que no se comporte como texto */
}

#guitarra{
    margin-top: 60px;
}


.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

#titulo{
    margin-top:10px;
    margin-bottom: 0px;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    /* Itroducir fuente */
}


/* ==== BOTONES ===== */
#btn-nuevo{
    background-color: #8C2411;
    color: #ffffff;
    padding: 14px 32px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 200px;
}

#btn-coleccion{
    background-color: transparent;
    color: #8C2411;
    padding: 14px 32px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 200px;
}

#descripcion{
    margin-top: 0;
}

.pie{
    margin-top: auto;
}

