*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETA */
body{
    background-color: #D4D9D6;
    font-family: 'Cormorant Garamond', serif;
}

/* ================= NAVBAR ================= */

.topbar{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.navbar{
    background-color: #E7DAC3;
    width: 90%;
    height: 70px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    padding: 0 40px;
}

/* LOGO */
.logo{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 600;
    color: #1E1F1E;
}

/* MENU DERECHA */
.menu{
    margin-left: auto;
    display: flex;
    gap: 35px;
}

.menu a{
    text-decoration: none;
    color: #1E1F1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.menu a:hover{
    color: #8C2411;
}

.acciones{
    margin-left: 25px;
}

.btnStart{
    background-color: #8C2411;
    color: #E7DAC3;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* ================= HERO ================= */

.hero{
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(30,31,30,0.85),
        rgba(30,31,30,0.5),
        rgba(30,31,30,0.2),
        rgba(30,31,30,0)
    ),
    url("../assets/bannerpro.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding-left: 100px;
}

.contenidoHero{
    max-width: 600px;
    color: #E7DAC3;
}

.tag{
    background-color: #8C2411;
    padding: 6px 14px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* TITULO HERO */
.hero h1{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin-bottom: 20px;
}

/* TEXTO */
.contenidoHero p{
    margin-bottom: 30px;
}

/* BOTONES */

.botones{
    display: flex;
    gap: 20px;
}

.btnPrincipal{
    background-color: #8C2411;
    color: #E7DAC3;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btnSecundario{
    border: 2px solid #E7DAC3;
    color: #E7DAC3;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}