* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
}

.cabecera {
    background-color: #6b1f1f;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 20px;
}

/* Logo */
.cabecera img {
    height: 55px;
    width: auto;
}

/* Título */
.cabecera h1 {
    color: #f2d28b;
    font-size: 34px;
    font-weight: normal;
    margin-right: auto; 
}

/* Navegación */
.navegador .lista {
    list-style: none;
    display: flex;
    gap: 35px;
}

.navegador .lista li {
    color: #f2d28b;
    font-size: 16px;
    cursor: pointer;
}

.navegador .lista li:hover {
    text-decoration: underline;
}


.banner{
    background: url(/assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;

    display: flex;
    align-items: center;
    padding-left: 80px;
}

/* Bloque texto izquierda */
.textoBanner{
    background-color: rgba(107, 31, 31, 0.85);
    color: #f2d28b;
    width: 50%;
    padding: 40px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

/* Botón abajo */
.empezar{
    background-color: #f2d28b;
    color: #6b1f1f;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    cursor: pointer;
    align-self: flex-start;
    border-radius: 5px;
}

