.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card-guitarra {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 450px; 
}

.canvas-container {
    width: 100%;
    height: 350px; /* Altura obligatoria para que el canvas se vea */
    background: #fcfcfc;
}

.info-guitarra {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    border-top: 1px solid #eee;
}